.container{
    margin: 0 auto;
    max-width: 1024px;

    .searchContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding:0 2rem;


        .searchInput{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:0.4rem;
            padding: 0.4rem;
            border-radius: 4px;
            overflow: hidden;
            background-color: #ccc;
            
            select,input{
            background: transparent;
            border: none;
            outline: none;
            }
        
            select{
            appearance: none;
            text-align: center;
            }
            input{
            border-radius: 4px;
            width: 300px;
            padding: 0.7rem;
            font-weight: bold;
            }
        
            &:hover > input,
            input:focus{
            background-color: rgba(204, 221, 204, 0.459);
            }
        }
    }
    .foundContainer{
        min-height: calc(100vh - 246px);

        .grid {
            width: 100%;
            min-height: 100%;
            padding: 3rem 0;
            display: grid;
            grid-template: repeat(3, auto) / repeat(4,1fr);
            justify-content: center;
            flex-wrap: wrap;
          }

          .buttons{
            
            button{
                width:65px;
                height: 65px;
                border-radius: 65px;
                border:1px solid #0070f3;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all ease 0.5s;
                
                position: fixed;
                top: 50%;
                
                &:hover{
                    border:1px solid transparent;
                }
            }

            .btn_prev{
                left: 5%;
            }
            .btn_next{
                right: 5%;
            }

          }
    }
}